.header-base {
  width: 100%;
  height: 7.5rem;
  display: flex;
  align-items: center;
}

.header-title-link {
  letter-spacing: 0.2rem;
  font-family: "Work Sans", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  color: #832232;
  margin-left: 2.5rem;
  flex-grow: 2;
}

.login-button,
.signup-button {
  width: 8.75rem;
  height: 3rem;
  border-radius: 1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.login-button:hover,
.signup-button:hover {
  box-shadow: 5px 10px 20px rgba(40, 11, 15, 0.25);
}

.login-button {
  background-image: linear-gradient(to bottom right, #832232, #c01632);
  border: none;
  color: #fffbfa;
}

.signup-button {
  margin-left: 1rem;
  margin-right: 2.5rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: #832232;
  background-color: transparent;
  color: #832232;
}
